table{
    border-collapse: collapse;
    size: 1000px;
}
table th{
    text-align: left;
    background-color: #3a6070;
    color: #fff;
    padding: 20px 60px 20px 40px;
} 
table td{
    border: #e3e3e3;
    padding: 10px 20px;
}
table tr: :nth-child(odd) td{
    background-color: #e7edf0;
}